@model MvcMovie.Models.BikeStationModel

<h1>Liste des stations de Vcub</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <td>id</td>
        <td>Nom</td>
        <td>Nb vélo(s)</td>
        <td>Nb Place(s)</td>
        <td>Disponibilité</td>
        <td>Coordonnées GPS</td>
    </tr>
    </thead>
    @foreach(var Station in @Model.StationList) {
        <tr class="@if(!Station.IsAvailable){ <text>danger</text> }">
            <td>@Station.Id</td>
            <td>@Station.Name</td>
            <td>@Station.BikeCount</td>
            <td>@Station.SlotCount</td>
            <td>
                <i class="@(Station.IsAvailable ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove")"></i>
            </td>
            <td>
                <a href="https://www.google.com/maps/?q=@Station.Latitude,@Station.Longitude" class="btn btn-default">Voir sur Google Maps</a>
            </td>
        </tr>
    }
</table>